body,p,div,h1,h2,h3,h4,h5,h6,ul,li{
	margin:0;
	padding:0;
	list-style-type:none;
	color:#999;
}
body{
	width:1280px;
	height:auto;
	margin:0 auto;
}
a{
	text-decoration:none;
	color:#999;
}
#pagetop{
	broder:1px solid red;
	height:130px;
	background-image:url(images/headbg.jpg);
}
#logoimg{
	float:left;
	margin-top:15px;
	margin-left:30px;
}
#context{
	width:1280px;
	margin:0 auto;
}
#map >p{
	width:800px;
	border:1px solid red;
}
#login-out{
	float:right;
	margin-right:50px;
	margin-bottom:15px;
}
#login-out ul li{
	float:left;
	margin-right:20px;
}

#map{
	float:right;
	margin-right:50px;
	margin-top:20px;
}
#maplink li{
	float:left;
	margin-left:50px;
}
#maplink{
	clear:both;
	margin-right:50px;
	font-size:18px;
}
#banner1{
	margin:0 auto;
}
#banner1 img{
	width:1280px;
}
#pagebottom{
	background-color:#F6F6F6;
	height:220px;
}
#maplink a:hover{
	border:1px solid #666;
	background-color:#6EBA00;

}
